Flask==3.0.0
Flask-Session==0.8.0
pandas>=2.2.0
openpyxl==3.1.2
googlemaps==4.10.0
folium==0.15.1
polyline==2.0.0
Werkzeug==3.0.1
gunicorn==21.2.0
python-dotenv==1.0.0
cachelib==0.13.0
geopy==2.4.1
Pillow==10.4.0
requests==2.32.3
numpy==1.26.4
branca==0.7.2
